fastapi
starlette
uvicorn[standard]
python-multipart
email-validator
jinja2
pyyaml
matplotlib
pytest
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
redis
httpx
anyio
orjson
pydantic-settings
grpcio
grpcio-tools
protobuf
grpcio-health-checking
grpcio-reflection
pytest-asyncio
itsdangerous
python3-saml

jinja2
MarkupSafe
